@model RolVm
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoIglesiaDesarrollo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoIglesiaDesarrollo.styles.css" asp-append-version="true" />
    <link href="~/css/rol/roleditar.css" rel="stylesheet" />
</head>
<div>
    <form method="post" asp-action="Editar">
        <input asp-for="Id" type="hidden" />
        <div class="form-group">
            <label asp-for="Descripcion" class="control-label">Descripcion</label>
            <input asp-for="Descripcion" class="form-control" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>       
        <div class="form-group">
            <label for="UsuarioId" class="control-label">Usuario</label>
            @Html.DropDownList("UsuarioId", Model.Usuarios, "Seleccione Usuario", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn-success">
        </div>
    </form>
</div>
