@model ProyectoIglesiaDesarrollo.Models.Miembros

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-6 offset-md-4">
        <h3>Información Del Miembro</h3>
        <hr />
        <form asp-action="AddOrEdit" enctype="multipart/form-data" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MiembroId" />
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FNacimiento" class="control-label"></label>
                <input asp-for="FNacimiento" class="form-control" />
                <span asp-validation-for="FNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <br />
                <input type="radio" name="Genero" value="Masculino" asp-for="Genero" /> Masculino |
                <input type="radio" name="Genero" value="Femenino" asp-for="Genero" /> Femenino |
                <input type="radio" name="Genero" value="Indefinido" asp-for="Genero" /> Indefinido
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <br />
                <input type="radio" name="Rol" value="Miembro" asp-for="Genero" /> Miembro |
                <input type="radio" name="Rol" value="Administrador" asp-for="Genero" /> Administrador
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary w-100" />
                    </div>
                </div>

                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-secondary w-100">Ver Todos</a>
                </div>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}