/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Estilos para el header */
header {
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: #000000;
    border-bottom: 1px solid #ffffff;
}

    .navbar .navbar-toggler {
        border-color: #ffffff;
    }

    .navbar .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .navbar .nav-link {
        color: #ffffff;
        font-weight: bold;
        transition: color 0.3s;
    }

        .navbar .nav-link:hover {
            color: #ff7f00;
        }

/* Espaciado para compensar el menú fijo */
.container {
    padding-top: 80px;
}

/* Estilos para el footer */
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ffffff;
}

    footer a {
        color: #ff7f00;
        text-decoration: none;
    }

        footer a:hover {
            color: #ff4500;
        }
