@model List<GenerosVm>
    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<form asp-action="Insertar" method="get">
        <div class="row">
            <div class="danger">
                @if (TempData["mensaje"] != null)
                {
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <p>@TempData["mensaje"]</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Agregar" class="btn-success">
        </div>
        @if (Model.Count > 0)
        {
            <div class="ScrollB">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Genero</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Genero</td>
                                <td>
                                    @Html.ActionLink("Editar", "Editar", "Generos", new { @GeneroId = item.Id }, new { @class = "btn btn-info" })
                                    @Html.ActionLink("Eliminar", "Eliminar", "Generos", new { @GeneroId = item.Id }, new { @class = "btn btn-info" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
        }
        else
        {
            <p>No hay Generos </p>
        }
</form>

